* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  display: block;
  --red: #970726;
  --www: #970726;
  --white: #ffffff;
  --gray: #d9d9d9;
  --light-white: #f9f9f9;
  --dark-blue: #0c0e25;
  --show-transform: scale(5);
  --show-transtion: opacity 2000ms, transform 400ms;
}
body {
  cursor: url("/img/Asset\ 3.png"), auto;
  background-color: var(--dark-blue);
  display: flex;
  width: 100vw;
  flex-direction: column;
  color: var(--gray);
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* ÃƒËœÃ‚Â§Ãƒâ„¢Ã¢â‚¬Å¾ÃƒËœÃ‚Â¹ÃƒËœÃ‚Â§Ãƒâ„¢Ã¢â‚¬Â¦ÃƒËœÃ‚Â© */
.p {
  line-height: 24px;
  opacity: 0.8;
  margin: 16px 0;
}
.title-with-red-square {
  position: relative;

  width: max-content;

  font-size: 20px;

  font-weight: 700;
}
.title-with-red-square::before {
  content: "";
  position: absolute;
  left: -3px;
  display: inline-block;
  width: 35%;
  height: 100%;
  background: var(--red);
  z-index: -1;
}
.red-line-infront-of-p {
  position: relative;

  padding-left: 12px;
}
.red-line-infront-of-p::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  background: var(--red);
  width: 3px;
  left: 0;
  border-radius: 2px;
}

.title-with-red-square-before {
  font-size: 48px;
  font-weight: 800;
  border-left: 8vw solid var(--red);
  padding: 0 6vw;
}

/* ÃƒËœÃ‚Â§Ãƒâ„¢Ã¢â‚¬Å¾ÃƒËœÃ‚Â¹ÃƒËœÃ‚Â§Ãƒâ„¢Ã¢â‚¬Â¦ÃƒËœÃ‚Â© */

/* preload page */

#preload-page {
  height: 100vh;
  position: fixed;
  width: 100vw;
  transition: 500ms cubic-bezier(0, 0.93, 0.23, 0.97);
  background: var(--dark-blue);
  z-index: 104;

  --red: #c8143b;
}
#white-loaded-in-preloading-page {
  background: var(--white);

  height: 50vh;

  width: 100vw;

  transition: 300ms;
}

#white-loading-progress-num {
  color: #ffffff;
  font-size: 64px;
  font-weight: 800;
  position: absolute;
  bottom: 16vh;
  right: 30px;
  mix-blend-mode: exclusion;
}
#black-loading-progress-num {
  color: #000000;
  font-size: 64px;
  font-weight: 800;
  position: absolute;
  bottom: 16vh;
  right: 30px;
  mix-blend-mode: color;
}

#red-line-go-down {
  transition: 500ms 600ms cubic-bezier(0, 0.51, 1, -0.26);
  background: var(--red);
  width: 3px;
  position: absolute;
  top: -100vh;
  height: 100vh;
  left: 50vw;
}
#container-of-tow-white-divs {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

#container-of-tow-white-divs > div {
  transition: 700ms cubic-bezier(0, 0.89, 0.94, 0);
  width: 50vw;

  height: 0;

  background: var(--white);
}
#right-side-split {
}
#left-side-split {
}

#text-container-preload {
  display: flex;

  opacity: 0;

  gap: 4px;

  font-size: 30px;

  transition: 200ms cubic-bezier(0, 0.93, 0.23, 0.97);

  font-weight: 700;

  position: absolute;

  top: 40%;

  left: 50%;

  transform: translate(-50%, -50%) rotate(90deg) scale(7);
}
#text-container-preload > .symbol {
  color: var(--white);
}
#nooh-text-preload {
  transition: 500ms cubic-bezier(0, 0.93, 0.23, 0.97);
  color: var(--red);
  display: flex;
  justify-content: center;
  width: 0;
}
#nooh-text-preload.reset-width {
  width: 100px;
}
#nooh-text-preload > div {
  transition: 200ms 0ms cubic-bezier(0, 0.93, 0.23, 0.97);
  transform: translate(0px, 50px) scale(0.3);
  opacity: 0;
}

#nooh-text-preload > div:nth-child(1) {
  transition-delay: 0;
}
#nooh-text-preload > div:nth-child(2) {
  transition-delay: 120ms;
}
#nooh-text-preload > div:nth-child(3) {
  transition-delay: 240ms;
}
#nooh-text-preload > div:nth-child(4) {
  transition-delay: 320ms;
}

/* preload page */

#menu-btn {
  position: fixed;
  right: 30px;
  top: 30px;
  padding: 8px;
  z-index: 102;
  height: 42px;
  width: 42px;
}
#menu-btn > svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: 600ms cubic-bezier(0, 0.92, 0.49, 0.97);
}
#menu-btn.active > svg:first-child {
  transform: scale(0) rotate(-45deg);
}
#menu-btn > svg:first-child {
  transform: scale(1) rotate(0deg);
}
#menu-btn > svg:last-child {
  transform: scale(0) rotate(45deg);
}
#menu-btn.active > svg:last-child {
  transform: scale(1) rotate(0deg);
}

.light-color {
  --red: #c8143b;
}

#menu-list {
  height: 100vh;

  width: 100vw;

  background: var(--light-white);

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  padding: 0 0 40px 0;

  z-index: 101;

  position: fixed;

  top: 0;

  right: -100vw;

  transition: 600ms cubic-bezier(0, 0.92, 0.49, 0.97);
}
#menu-list.active {
  right: 0;
}
.menu-item {
  color: var(--dark-blue);
  font-size: 24px;
  padding: 16px 24px;
  font-weight: 700;
  position: relative;
  transform: translateX(215px);
  transition: 300ms cubic-bezier(0, 0.92, 0.49, 0.97);
}
.active > .menu-item {
  transform: translateX(0px);
}
.menu-item::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background: #c8143b;
  border-radius: 4px;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: -1;
}
#contact-btn {
  position: fixed;

  right: 86px;

  bottom: 86px;

  background: aqua;

  z-index: 100;
}

#contact-btn > div {
  height: 52px;

  z-index: 12;

  display: flex;

  justify-content: center;

  align-items: center;

  width: 52px;

  background: var(--red);

  border-radius: 26px;

  position: absolute;

  transition: var(--show-transtion);
}
#send-btn {
  padding: 0 0 4px 0;

  transform: rotate(45deg);
}
.show > #send-btn {
  padding: 0;

  transform: rotate(0deg);

  background: var(--gray);
  --white: #222;
}
#send-icon {
  width: auto;
}
.show > div > #send-icon {
  width: 0;
}
#close-icon {
  transform: rotate(120deg) scale(0);
  width: 0;
  transition: var(--show-transtion);
}
.show > div > #close-icon {
  transform: rotate(0deg) scale(1);
  width: auto;
}
#whatsapp-btn {
}
.show > #whatsapp-btn {
  transform: translate(-64px, -64px);
}
#linkedin-btn {
}
.show > #linkedin-btn {
  transform: translate(0px, -86px);
}
#copy-link-btn {
}
.show > #copy-link-btn {
  transform: translate(-86px, 0px);
}
#sections-container {
  display: flex;

  flex-direction: column;

  height: 100vh;

  scroll-snap-type: y mandatory;

  overflow: auto;

  position: relative;
}

#sections-container::-webkit-scrollbar {
  width: 3px;
}

#sections-container::-webkit-scrollbar-track {
  background: var(--dark-blue);
}
#sections-container.scroll-bar-background::-webkit-scrollbar-track {
  background: var(--light-white);
}

#sections-container::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 20px;
}
#sections-container > div {
  flex-shrink: 0;
  scroll-snap-stop: always;
  scroll-snap-align: start;
  width: 100% !important;
}
.work-item {
}

#sections-container > div.show {
}
#float-developer-background-text {
  position: absolute;
  font-size: 327px;
  left: 0;
  top: 0;
  width: 100vw;
  overflow: hidden;
  color: var(--white);
  opacity: 0.04;
}
#float-developer-background-text > div {
  font-size: 327px;
  transform: translate(0, -87px);
  animation-name: floating-from-side-to-side;
  animation-duration: 150s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#side-developer-text {
  position: absolute;

  left: -57px;

  font-size: 24px;

  letter-spacing: 13px;

  top: 0;

  transform: rotate(90deg) translate(135px, 33px);

  color: var(--red);
}
#side-line-with-num {
  position: absolute;
  top: 108px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#side-line-with-num div:first-child {
  height: 106px;
  background: var(--red);
  width: 3px;
  border-radius: 2px;
}
#side-line-with-num div:nth-child(2) {
  font-size: 20px;
  font-weight: 600;
  transform: rotate(-90deg);
  color: var(--red);
}
#side-line-with-num div:last-child {
  height: 210px;
  background: var(--red);
  width: 3px;
  border-radius: 2px;
}
#first-section {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 11vh 0 15vh;
  position: relative;
}
#name-with-img {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#my-photo-container {
  width: 150px;

  position: relative;

  z-index: 3;

  height: 223px;

  border-radius: 0 0 100px 100px;

  overflow: hidden;
}
#my-photo-container > img {
  width: 100%;

  object-fit: cover;

  height: 100%;
}
#curve-arrow {
  position: absolute;

  width: 100%;

  height: auto;

  left: 0;

  bottom: 0;
}
#my-info {
  width: 100%;
}
#my-name {
  font-size: 32px;
  line-height: 36px;
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 32px;
}
#my-name::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  left: 0;
  width: 40%;
  background-color: var(--white);
  opacity: 0.04;
}
#job-title {
  display: flex;
  width: 100%;
  align-items: start;
  font-size: 20px;
  opacity: 0.8;
  border-left: 8px solid var(--red);
  justify-content: center;
}
#static-job-title {
}
#toggle-job-title {
  height: 28px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 4px;
}
.son {
  font-size: 20px;
  line-height: 24px;
  height: 20px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 600ms;
  display: inline-block;
}
.center {
  transform: translateY(0px);
  transition: 600ms;
}
.bottom {
  transform: translateY(40px);
  transition: 600ms;
}
.top {
  transform: translateY(-40px);
  transition: 0ms;
}

#itroducting-my-self {
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
}
#hello {
  font-size: 40px;
  font-weight: 800;
  width: max-content;
  position: relative;
}
#second-section {
  padding: 20vh 30px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 12vh;
  overflow: hidden;
}
#education {
  opacity: 0;
  transition: var(--show-transtion);
  transform: var(--show-transform);
}
.show #education {
  opacity: 1;
  transform: scale(1);
}
#skills {
}

.skills-container {
  display: flex;
  gap: 8px;
}
.skills-container > div:first-child {
}
.skills-container > div:last-child {
  flex-grow: 1;
  .skills-container {
    display: flex;
  }
}

.skill-label,
.skill-bar {
  opacity: 0;
  transition: var(--show-transtion);
  transform: var(--show-transform);
}
.show .skill-label,
.show .skill-bar {
  opacity: 1;
  transform: scale(1);
}
.skill-label:nth-child(1),
.skill-bar:nth-child(1) {
  transition-delay: 0ms;
}
.skill-label:nth-child(2),
.skill-bar:nth-child(2) {
  transition-delay: 100ms;
}
.skill-label:nth-child(3),
.skill-bar:nth-child(3) {
  transition-delay: 200ms;
}
.skill-label:nth-child(4),
.skill-bar:nth-child(4) {
  transition-delay: 300ms;
}
.skill-label:nth-child(5),
.skill-bar:nth-child(5) {
  transition-delay: 400ms;
}
.skill-label {
  height: 24px;
}
.skill-bar {
  background: var(--white);
  display: flex;
  height: 20px;
  margin: 20px 0;
  border-radius: 3px;
  overflow: hidden;
}
.skill-bar::before {
  content: "";
  height: 100%;
  width: 0;
  display: inline-block;
  background: var(--red);
  transition: 2000ms 100ms;
}

.show .skill-bar:nth-child(1)::before {
  width: 97%;
}
.show .skill-bar:nth-child(2)::before {
  width: 95%;
}
.show .skill-bar:nth-child(3)::before {
  width: 85%;
}
.show .skill-bar:nth-child(4)::before {
  width: 70%;
}
.show .skill-bar:nth-child(5)::before {
  width: 78%;
}
#skills-background-circle {
  width: 100vw;
  height: 100vh;
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 168vh;
  transition: var(--show-transtion);
}
#skills-background-circle > div {
  background: var(--white);
  border-radius: 0vh;
  width: 0vh;
  height: 0vh;
  opacity: 0.04;
  transform: translate(30vw, 0);
}

.show #skills-background-circle > div {
  border-radius: 50vh;
  width: 80vh;
  height: 80vh;
}
#third-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 25% 0 10%;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.parallel-lines {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 42vh;
  left: -90px;
  transform: rotate(45deg);
  z-index: -1;
}
.parallel-lines > div {
  opacity: 0;
  width: 300px;

  height: 3px;

  background: var(--red);

  border-radius: 2px;
  transition: var(--show-transtion);
}

.show .parallel-lines > div {
  opacity: 1;
}
#services-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 12vh 0;
  gap: 16px;
}
.service-card {
  display: flex;
  background: var(--white);
  height: 21vh;
  width: 24vh;
  border-radius: 4px;
  flex-direction: column;
  padding: 5%;
  justify-content: center;
  opacity: 0;
  transition: var(--show-transtion);
  transform: scale(1.5);
}

.service-card:last-child {
  transition-delay: 200ms;
}
.show .service-card {
  opacity: 1;
  transform: scale(1);
}
.srevice-icon {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  pointer-events: none;
}
.srevice-icon > svg {
  width: 15vh;
  height: 60%;
  object-fit: contain;
}
.service-name {
  font-size: 20px;
  flex-shrink: 1;
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
  pointer-events: none;
}

#fourth-section {
  --red: #c8143b;

  display: flex;

  flex-direction: column;

  height: 100vh;

  padding: 25% 0 10%;

  position: relative;

  background: #f9f9f9;

  color: var(--dark-blue);
}

#work-scrolling-area {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-gutter: stable;
  transform-style: preserve-3d;
  perspective: 1000px;
}
#work-scrolling-area::-webkit-scrollbar {
  width: 0px;
}
#work-scrolling-area ::-webkit-scrollbar {
  display: none;
}

#vertical-long {
  height: 1000vw;
  transform-style: preserve-3d;
}
#works-container {
  position: sticky;
  top: 0;
  display: flex;
  transition: 100ms ease-out;
  transform-style: preserve-3d;
}
.work-item {
  width: 100vw;
  padding: 30px;
  flex-shrink: 0;
  transform-style: preserve-3d;
}
.work-img {
  width: 100%;
  aspect-ratio: 1.6/1;
  overflow: hidden;
  background: #eee;
  border: 15px solid #ffff;
}
.work-img > img {
  height: 100%;

  width: 100%;

  object-fit: contain;
}
.work-name {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-blue);
  margin: 36px 0;
}
#bbg-website {
}
#bbg-website > .work-img {
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.1);
}
#bbg-website > .work-name {
  transform: translateZ(50px);
}
#udms-system {
}
#udms-system > .work-img {
  transform: translateZ(200px) scale(0.8);

  box-shadow: 6px 6px 23px rgba(0, 0, 0, 0.1);
}

#udms-system > .work-name {
  transform: translateZ(100px);
}

#original-food {
}
#original-food > .work-img {
  transform: translateZ(0px) scale(1);

  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.1);
}

#original-food > .work-name {
  transform: translateZ(200px) scale(0.8);
}

#barq-store {
}

#barq-store > .work-img {
  transform: translateZ(300px) scale(0.7);

  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.1);
}

#barq-store > .work-name {
  transform: translateZ(100px) scale(1);
}

#barq-mangement {
}

#barq-mangement > .work-img {
  transform: translateZ(100px) scale(0.8);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
}

#barq-mangement > .work-name {
  transform: translateZ(200px) scale(0.8);
}

#fifth-section {
  --red: #c8143b;

  display: flex;

  flex-direction: column;

  height: 100vh;

  width: 100vw;

  padding: 25% 0 10%;

  position: relative;

  background: var(--light-white);

  color: var(--dark-blue);

  overflow: hidden;
}
#contact-actions-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contact-me-form {
  display: flex;

  flex-direction: column;

  padding: 30px 30px;
}

#contact-me-form > * {
  margin: 8px;
  /* padding: 8px 16px; */
  border: none;
  /* border-bottom: 3px solid var(--red); */
  /* font-size:20px; */
  height: 50px;
  /* outline: none; */
}
#contact-actions-container > * > * {
  opacity: 0;
  transition: var(--show-transtion);
  transform: var(--show-transform);
}
#contact-me-form > *::after {
  content: "";
  height: 3px;
  display: block;
  width: 100%;
  background: var(--red);
  border-radius: 3px;
}

#contact-me-form > * > * {
  font-size: 20px;
  height: 100%;
  padding: 16px;
  border: none;
  background: transparent;
  line-height: 20px;
  width: 100%;
  outline: none;
}
.show #contact-actions-container > * > * {
  opacity: 1;
  transform: scale(1);
}
#name-form {
  transition-delay: 0ms;
}
#name-form-input {
}
#email-form {
  transition-delay: 100ms;
}

#email-form-input {
}
#message-form {
  transition-delay: 200ms;

  margin-top: 19px;

  min-height: 50px;
}
#message-form-input {
  overflow: hidden;
}
#submit-btn {
  background: var(--red);
  border-radius: 4px;
  color: var(--white);
  text-align: center;
  padding: 16px 0;
  height: auto;
  font-size: 20px;
  line-height: 20px;
  margin-top: 42px;
  transition: 500ms;
  border: 3px solid transparent;
}
#submit-btn::after {
  display: none;
}
#submit-btn:active {
  transform: scale(0.9);
}
footer {
  position: absolute;

  bottom: 0;

  background: var(--dark-blue);

  color: var(--white);

  width: 100%;

  padding: 8px 12vw;
}
#social-media-icons-container {
  display: flex;

  gap: 16px;

  justify-content: center;

  width: 100%;

  margin-bottom: 30px;
}
.social-icon {
  --white: #0c0e25d4;
  height: 48px;
  width: 48px;
  background: var(--light-white);
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 20px #00000021;
}
a#a-links {
  display: none;
}
/* ÃƒËœÃ‚Â­ÃƒËœÃ‚Â±Ãƒâ„¢Ã†â€™ÃƒËœÃ‚Â§ÃƒËœÃ‚Âª */

/*media query/                 */

@media (min-width: 950px) {
  html {
    display: flex;
    width: 100vw;
    overflow: hidden;
  }
  #text-container-preload {
    font-size: 36px;
  }

  #nooh-text-preload.reset-width {
    width: 150px;
  }
  #menu-btn {
    right: 10vh;

    top: 8vh;
  }
  #contact-btn {
    right: 16vh;

    bottom: 20vh;
  }
  #side-developer-text {
    left: -7vh;
    top: 17vh;
    letter-spacing: 4vh;
    font-size: 20px;
  }

  #side-line-with-num {
    right: 5vh;
  }
  #name-with-img {
  }
  #my-photo-container {
    width: 300px;
    height: 465px;
    border-radius: 0 0 200px 200px;
  }
  #my-info {
    width: fit-content;
    margin-top: 16vh;
  }
  #my-name {
    text-align: start;
  }
  #job-title {
    margin-top: 1vh;
    padding-left: 8px;
  }
  #itroducting-my-self {
    padding: 0;
  }
  #education {
    width: 40vw;
  }
  #skills {
    width: 30vw;
    margin-left: auto;
    margin-right: 8vw;
  }
  #sections-container > div {
  }
  #first-section {
    flex-direction: row-reverse;
    padding: 0 12vw;
    align-items: center;
  }
  #first-section > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 12vh;
    padding: 0 0 0 12vh;
  }
  #second-section {
    max-width: 1200px;
    margin: auto;
  }
  .parallel-lines {
    gap: 95px;
    left: -358px;
    top: 47vh;
  }
  .parallel-lines > div {
    width: 130vh;
  }

  #third-section {
    padding: 10vh 0 12vh;
  }
  #services-container {
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    gap: 4vw;
  }
  .service-card-container {
    width: 40vh;
    height: 40vh;
  }
  .srevice-icon {
    transform: translateZ(70px) scale(0.3) translateY(18px);
  }

  .service-name {
    transform: translateZ(60px) scale(0.4) translateY(-214px);
  }
  .rotate-3d {
    perspective: 1000px;
  }
  .service-card {
    transform-style: preserve-3d;
    perspective: 100px;
    width: 300px;
    height: 300px;
  }

  #fourth-section {
    padding: 10vh 0 0;
  }

  .work-item {
    width: 56vh;
    margin: 0 12vw;
  }

  #fifth-section {
    padding: 10vh 0 12vh;
  }
  #contact-actions-container {
    flex-direction: row;
    margin: 0 12vw;
  }
  #contact-me-form {
    width: 763px;
  }
  #submit-btn {
    width: 60%;
    margin-top: 7vh;
  }
  #submit-btn:hover {
    background: var(--white);
    border: 3px solid var(--red);
    color: var(--red);
  }
  #social-media-icons-container {
    flex-direction: column;
    align-items: end;
    justify-content: start;
  }
  .social-icon {
    height: 100px;
    width: 100px;
    padding: 33px;
    border-radius: 8px;
    box-shadow: 6px 6px 20px #00000011, -2px -2px 4px #00000005;
  }
}

/*media query/                 */

@keyframes floating-from-side-to-side {
  1% {
    transform: translate(0, -87px);
  }
  100% {
    transform: translate(-1550px, -87px);
  }
}

/* ÃƒËœÃ‚Â­ÃƒËœÃ‚Â±Ãƒâ„¢Ã†â€™ÃƒËœÃ‚Â§ÃƒËœÃ‚Âª */
